.aca-img {
  height: 60dvh;
  background-color: black;
}
.aca-bgimg {
  height: 60dvh;
  width: 100dvw;
  object-fit: cover;
}
.spacer {
  background-color: black;
  height: 100dvh;
}
.aca-article {
  padding: 3rem;
  margin: 5%;
}
.aca-overview,
.aca-course,
.aca-peos,
.aca-pos,
.aca-psos,
.aca-fees {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.aca-grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}
.aca-grid2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  background-color: black;
}
.aca-navbar {
  position: sticky;
  top: 8vh;
  display: flex;
  justify-content: center;
  background-color: black;
  z-index: 100;
}
#aca-navLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 10px;
}
.aca-navLists {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  color: white;
}
.aca-navLists a {
  text-decoration: none;
  color: inherit;
}
.aca-navLists:hover {
  background-color: #0088cc;
}

@media screen and (max-width: 768px) {
  .aca-overview,
  .aca-course,
  .aca-peos,
  .aca-pos,
  .aca-psos,
  .aca-fees,
  .aca-grid2 {
      grid-template-columns: 1fr;
  }
  .aca-article {
      padding: 2rem;
      margin: 3%;
  }
  #aca-navLinks {
      flex-wrap: wrap;
      justify-content: center;
  }
  .aca-navLists {
      margin: 5px;
  }
}