@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* General Styles */

* {
  scrollbar-width: none;
  box-sizing: border-box;
}

/* Remove scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}

.BannerContent {
  overflow-x: hidden; /* Added to prevent horizontal overflow */
  margin: 0;
  padding: 0;
}

.overflowDiv {
  margin: 0;
  padding: 0;
}

.contentText p {
  font-size: 1.25rem;
  line-height: 1.5;
}

blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #a9dfbf;
  border-radius: 60px;
}

figure {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/svce-bg.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  z-index: -1; /* Added z-index to position the figure behind other elements */
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  clip: rect(0, auto, auto, 0);
}

@supports (-webkit-overflow-scrolling: touch) {
  .hero-inner {
    clip: unset;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 6rem;
  }
}

.contentText {
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 2em;
}

.contentText:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 6;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}

.content__inner > * + * {
  margin-top: 1.5rem;
}

.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
}

@media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}

.content__author:before,
.content__author:after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #a9dfbf;
}

.content__author:before {
  margin-right: 1rem;
}

.content__author:after {
  margin-left: 1rem;
}

.backgroundVideo {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  object-fit: cover;
  background-color: transparent;
}
.moto {
  position: absolute;
  top: 50dvh;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.engine {
  color: #0088cc;
}

.item {
  position: relative;
  background-color: black;

  &:after {
    content: "";
    display: block;
    height: 100vh;
    margin-bottom: -100vh;
  }
  &:nth-last-of-type(2) {
    margin-bottom: 0;
    background-color: white;
    .card-heading {
      font-size: 3em;
      text-align: center;
      padding: 20px 20px;
      margin: 10px 10px;
      color: black;
    }
    .card-text {
      font-size: 1.5em;
      text-align: justify;
      color: black;
      padding: 10px 0; /* top and bottom padding */
    }
    .card-scroll {
      border-left: black 15px solid;
      padding-left: 3em; /* Adjust this value to increase or decrease the spacing */
    }

    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.05),
        transparent 50px
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.05), transparent 50px);
  }
  &:last-of-type {
    &:after {
      display: none;
    }

    margin-bottom: 0;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.05),
        transparent 50px
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.05), transparent 50px);
  }

  .image-holder {
    position: sticky;
    top: 8.5%;
    float: left;
    overflow: hidden;
    /* width: 40%; */
    height: 100vh;

    img {
      position: relative;
      height: 100%;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-height: 120vh;
    padding: 1em;
  }
}

.card-heading {
  font-size: 3em;
  text-align: center;
  padding: 20px 20px;
  margin: 10px 10px;
  color: white;
}
.card-text {
  font-size: 1.5em;
  text-align: justify;
  color: white;
  padding: 10px 0; /* top and bottom padding */
}
.card-scroll {
  border-left: white 15px solid;
  padding-left: 3em; /* Adjust this value to increase or decrease the spacing */
}

/* Styles for small screens */
@media (max-width: 767px) {
  .item {
    display: flex;
    flex-direction: column;
  }

  .image-holder {
    position: relative;
    top: 0;
    order: 1; /* Move the image-holder above the text-holder */
    width: 100%;
    height: auto;
  }

  .image-holder img {
    width: 100%;
    height: auto;
    left: 0;
    transform: none;
  }

  .text-holder {
    position: relative; /* Set text-holder to relative position */
    order: 2; /* Move the text-holder below the image-holder */
    width: 100%; /* Make text-holder occupy full width */
    min-height: auto;
    padding: 0; /* Remove any padding */
  }

  .card-heading {
    font-size: 2em;
  }

  .card-text {
    font-size: 1.3em;
    width: 280px;
  }

  .card-scroll {
    padding-left: 1.5em;
    padding-right: 0; /* Remove right padding */
  }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .image-holder {
    position: relative; /* Set image-holder to relative position */
    width: 50%;
  }

  .text-holder {
    position: relative; /* Set text-holder to relative position */
    width: 50%; /* Make text-holder occupy remaining width */
    padding: 0; /* Remove any padding */
  }

  .card-heading {
    font-size: 2.5em;
  }

  .card-text {
    font-size: 1.3em;
  }

  .card-scroll {
    padding-left: 1.5em;
    padding-right: 0; /* Remove right padding */
  }
}

/* Styles for large screens */
@media (min-width: 1024px) {
  /* Adjust container width or layout for large screens */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Increase font sizes for better readability on larger screens */
  .card-heading {
    font-size: 3.5em;
  }

  .card-text {
    font-size: 1.8em;
  }

  /* Adjust spacing or padding for better layout */
  .card-scroll {
    padding-left: 4em;
    padding-right: 0; /* Remove right padding */
  }

  /* Change image dimensions or positioning */
  .image-holder {
    position: relative; /* Set image-holder to relative position */
  }

  .image-holder img {
    height: auto;
    max-width: 100%;
    transform: none;
    left: 0;
  }

  .text-holder {
    position: relative; /* Set text-holder to relative position */
  }
}
.Accreditation-container h1 {
  text-align: center;
  padding: 2em 2em;
  font-size: 3.5em;
}
.AccreditationTitle {
  background-color: white;
}

.Accreditation-slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.Accreditation-slider::before,
.Accreditation-slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.Accreditation-slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.Accreditation-slider::before {
  left: 0;
  top: 0;
}

.Accreditation-slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 10);
}

.Accreditation-slide {
  height: 200px;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Styles for small screens */
@media (max-width: 767px) {
  .Accreditation-container h1 {
    font-size: 2em;
    padding: 1em;
  }

  .Accreditation-slider {
    height: 150px;
  }

  .Accreditation-slide {
    height: 100px;
    width: 150px;
  }

  .Accreditation-slide img {
    height: 80px;
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-150px * 7));
    }
  }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .Accreditation-container h1 {
    font-size: 3em;
    padding: 1.5em;
  }

  .Accreditation-slider {
    height: 180px;
  }

  .Accreditation-slide {
    height: 150px;
    width: 200px;
  }

  .Accreditation-slide img {
    height: 100px;
    width: 100px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 7));
    }
  }
}

/* Styles for large screens */
@media (min-width: 1200px) {
  .Accreditation-container h1 {
    text-align: center;
    padding: 2em 2em;
    font-size: 3.5em;
    color: black;
  }

  .Accreditation-slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100vw;
  }

  .Accreditation-slider::before,
  .Accreditation-slider::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  .Accreditation-slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .Accreditation-slider::before {
    left: 0;
    top: 0;
  }

  .Accreditation-slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .Accreditation-slide {
    height: 200px;
    width: 250px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
}
:root {
  --shade1: black;
  --shade2: black;
  --primaryColor: var(--shade2);
  --backgroundColor: #ffffff;
  --backgroundColorDark: var(--primaryColor);
  --size: 300px;
  --gap: 20px;
  --cardShadow: 0 4px 7px rgb(0 0 0 / 25%);
  --paddingNormal: 120px;
  --paddingSmall: 42px;
  --textColor: var(--shade2);
  --textColorDark: #fff;
  --linkColor: #06c;
  --gradient1: radial-gradient(
    164.75% 100% at 50% 0,
    var(--shade1) 0,
    var(--shade2) 48.73%
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--backgroundColorDark);
  font-family: "Montserrat", sans-serif;
}

.heading {
  text-align: center;
  background: var(--backgroundColor);
  color: var(--textColor);
}

.heading .content {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  padding: 120px 16px;
}

.lockup {
  padding: 0 16px;
}

.lockup .icon {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
}

.lockup .icon img {
  width: 100%;
  height: 100%;
  display: block;
}

.blurb {
  font-weight: 100;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.marquees__wrapper {
  background: black;
  padding: var(--paddingNormal) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: var(--maxWidth);
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    var(--backgroundColorDark) 20%,
    var(--backgroundColorDark) 80%,
    hsl(0 0% 0% / 0)
  );
  background: var(--gradient1);
}

.marquee {
  position: relative;
  display: flex;
  gap: var(--gap);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--gap);
  min-width: 100%;
}

.marquee__group .item1 {
  width: 378px;
  height: 212px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--cardShadow);
  transition: 300ms ease-in-out;
  background: var(--gradient1);
}

.marquee:hover .item1 {
  opacity: 0.5;
}

.item1:hover {
  opacity: 1 !important;
  scale: 1.03 1;
}

.item1:hover img {
  scale: 1 1.03;
}

.item1 img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 300ms ease-in-out;
  scale: 1.03;
}
@media (max-width: 900px) {
  :root {
    --gap: 10px;
  }
  .marquee .item {
    width: 210px;
    height: 118px;
  }
  .headline {
    font-size: 20px;
  }
}
