* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 8px;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

#navbar.transparent {
  background-color: transparent;
  backdrop-filter: none;
  box-shadow: none;
}

#navbar.translucent {
  background-color: rgba(17, 24, 39, 0.8);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logoText {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.logoSize {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.logoTextFirstSize {
  color: #0088cc;
  font-weight: bold;
  /* Change font weight to bold */
  font-size: larger;
  padding-right: 0.25em;
}

.logoTextSecondSize {
  color: #f3f4f6;
  font-weight: bold;
  /* Change font weight to bold */
  font-size: larger;
}

#navLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  padding-right: 10px;
}

#navLinks li a {
  text-decoration: none;
  color: #f3f4f6;
}

#navLinks li {
  margin-left: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #f3f4f6;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#navLinks li:hover {
  color: #ffffff;
  background-color: #0088cc;
}

#toggleNav {
  background-color: transparent;
  display: none;
  border: none;
}

@media (max-width: 767px) {
  #navLinks {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #072f4a;
    padding: 1rem;
  }

  #navLinks.show {
    display: flex;
  }

  #navLinks li {
    margin: 0.5rem 0;
  }

  #toggleNav {
    display: block;
  }
  .logoText {
    font-size: 1rem;
  }
}
